# =========================
# NODE / VITE / REACT
# =========================
node_modules/
dist/
build/
.vite/
.vercel/

# =========================
# ENV FILES
# =========================
.env
.env.local
.env.development
.env.production
.env.test

# =========================
# IDE / EDITORS
# =========================
.vscode/
.idea/
*.swp

# =========================
# OS FILES
# =========================
.DS_Store
AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes